# Django
*.pyc
__pycache__/
*.pyo
*.pyd
db.sqlite3
migrations/
static/assets/

# Environment variables
.env
.env.local
.env.prod

# Virtual environment
venv/
env/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Static files (if collected)
staticfiles/
mediafiles/

# Logs
*.log